@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/5b0ba2e20d3d7e3fc30b60595f3702c2?family=Druk+Text+Bold+Trial);

@import url(https://db.onlinewebfonts.com/c/9d83fb20700a3a7c45dc9acd64ab121e?family=Droid+Sans);

@font-face {
  font-family: "Druk Text Bold Trial";
  src: url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.eot");
  src: url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5b0ba2e20d3d7e3fc30b60595f3702c2.svg#Druk Text Bold Trial")format("svg");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Druk Text Bold Trial";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.droid {
  font-family: "Droid Sans";
}

.hero {
  background-image: url('./assets/bg.png');
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;


}

.swiper .swiper-pagination-bullet-active {
  background-color: #FF7A00;

}

.btn-pum {
  box-shadow: 1px -1px 107px 8px rgba(255, 122, 0, 0.75);

}

.yellow-box {
  box-shadow: -1px 2px 79px 7px rgba(255, 236, 68, 0.75);
  -webkit-box-shadow: -1px 2px 79px 7px rgba(255, 236, 68, 0.75);
  -moz-box-shadow: -1px 2px 79px 7px rgba(255, 236, 68, 0.75);
}

.tarif {
  background-image: url('./assets/tarif_bg.png');
}

.program {
  background-image: url('./assets/program_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

ul {
  list-style: none;
}